frontEnd/Schema.txt
server/encuesta.json
server/data_sources/mongodb-atlas/memoria/respuestas/schema.json
server/Models/Encuesta.model.js
server/Models/Informacion.model.js
server/encuesta.ipynb
server/encuesta.json
server/Models/Encuesta.model.js
