@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

.appBarButton {
    font-family: 'Fira Sans', sans-serif !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-transform: capitalize !important;
}

.nameCol {
    align-content: center;
    align-items: center;
    text-align: center;
}