.reasons-list {
    list-style: none;
    padding: 0;
}

.reasons-list li {
    margin-bottom: 0.5rem;
}

.reasons-list-item {
    display: flex;
    justify-content: space-between;
}

.reasons-list-item label {
    vertical-align: text-bottom;
    margin-left: 0.2rem;
}